html{
    font-family: Arial, Helvetica, sans-serif;
}

.list-group{
    overflow-y: scroll;
    height: 200px;
}

::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb{
    background: #888;
}

::-webkit-scroll-thumb:hover{
    background: #555;
}
 i{
     margin-left: 5px;
 }

 .nav-wrapper, .page-footer{
	background-color: #3490dc;
}
#type{
    float: left;
    color: white;
}

.wellcome{
    margin-top: 10px;
    margin-bottom: 10px;
}
 nav ul li a:hover {
    text-decoration: none !important;
    color: white;
 }
 footer ul li a:hover{
     margin-left: 5px;
     text-decoration: none;
     border-left: 2px sollid white;
 }
  /* footer ul li span{
    margin-right: 5px;
 } */
  footer ul li a{
     color: white;
     margin-left: 5px;
 }
 footer{
     margin-top: 0em !important;
 }
#wellcome{
    background-image: url('/images/image.jpg');
    background-size: cover;
    margin-bottom: 2em;
    margin-top: 2em;
    padding-top: 3em;
    padding-bottom: 3em;
}
.text{
    font-size: 1.5rem;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

